{{- /* 首先检查 Markdown 中的图片 */ -}}
{{- $lines := split .RawContent "\n" -}}
{{- $mdImages := slice -}}
{{- $page := . -}}
{{- range $lines -}}
    {{- if strings.Contains . "![" -}}
        {{- $mdImgParts := split (strings.TrimSpace .) "(" -}}
        {{- if ge (len $mdImgParts) 2 -}}
            {{- $imgUrl := index $mdImgParts 1 -}}
            {{- $imgUrl = strings.TrimSuffix ")" $imgUrl -}}
            {{- $titleParts := split (index $mdImgParts 0) "[" -}}
            {{- if ge (len $titleParts) 2 -}}
                {{- $imgTitle := index $titleParts 1 -}}
                {{- $imgTitle = strings.TrimSuffix "]" $imgTitle -}}
                {{- /* 处理相对路径的图片 */ -}}
                {{- if strings.HasPrefix $imgUrl "./" -}}
                    {{- $imgName := strings.TrimPrefix "./" $imgUrl -}}
                    {{- $resourceImg := $page.Resources.GetMatch $imgName -}}
                    {{- if $resourceImg -}}
                        {{- $mdImages = $mdImages | append (dict "url" $resourceImg.RelPermalink "title" $imgTitle "isResource" true "resource" $resourceImg) -}}
                    {{- else -}}
                        {{- $mdImages = $mdImages | append (dict "url" $imgUrl "title" $imgTitle "isResource" false) -}}
                    {{- end -}}
                {{- else -}}
                    {{- $mdImages = $mdImages | append (dict "url" $imgUrl "title" $imgTitle "isResource" false) -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}
    {{- else if strings.Contains . ";" -}}
        {{- /* 添加对分号分隔图片格式的支持 */ -}}
        {{- $descr := split . ";" -}}
        {{- if ge (len $descr) 2 -}}
            {{- $imgUrl := index $descr 0 -}}
            {{- $imgTitle := index $descr 1 -}}
            {{- /* 处理本地图片资源 */ -}}
            {{- $resourceImg := $page.Resources.GetMatch $imgUrl -}}
            {{- if $resourceImg -}}
                {{- $mdImages = $mdImages | append (dict "url" $resourceImg.RelPermalink "title" $imgTitle "isResource" true "resource" $resourceImg) -}}
            {{- else -}}
                {{- $mdImages = $mdImages | append (dict "url" $imgUrl "title" $imgTitle "isResource" false) -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- /* 如果有 Markdown 图片，显示第一张 */ -}}
{{- with first 1 $mdImages -}}
    {{- range . -}}
        <div class="post_img">
            {{- if .isResource -}}
                {{- $image := .resource.Fill "1200x800 q90 Smart" -}}
                <img src="{{ $image.RelPermalink }}" alt="{{ .title }}" class="zoomable">
            {{- else -}}
                <img src="{{ .url }}" alt="{{ .title }}" class="zoomable">
            {{- end -}}
        </div>
    {{- end -}}
{{- else -}}
    {{- /* 如果没有 Markdown 图片，使用原有逻辑 */ -}}
    {{ $titleGallery := .Page.Params.title_gallery }}
    {{ if $titleGallery }}
        {{ partial "embedded-gallery-partial.html" . $titleGallery }}
    {{ else }}
        {{ $images := .Resources.ByType "image" }}
        {{ with $image := ($images.GetMatch "*cover*") }}
            <div class="post_img">
                {{- $resized := $image.Fill "1200x800 q90 Smart" -}}
                <img src="{{ $resized.RelPermalink | relURL }}" alt="{{ .Title }}" class="zoomable">
            </div>
        {{ end }}
    {{ end }}
{{- end -}}