{{- define "photomosaic" -}}
{{- partial "partials/shared/photomosaic.html" . -}}
{{- end -}}

{{- define "content" -}}
{{- $gallery := . -}}

{{- $lines := split $gallery.RawContent "\n" -}}
{{- $titles := dict -}}
{{- $descriptions := dict -}}
{{- $videos := dict -}}
{{- $mdImages := slice -}}
{{- range $lines -}}
    {{- if strings.Contains . "![" -}}
        {{- $mdImgParts := split (strings.TrimSpace .) "(" -}}
        {{- if ge (len $mdImgParts) 2 -}}
            {{- $imgUrl := index $mdImgParts 1 -}}
            {{- $imgUrl = strings.TrimSuffix ")" $imgUrl -}}
            {{- $titleParts := split (index $mdImgParts 0) "[" -}}
            {{- if ge (len $titleParts) 2 -}}
                {{- $imgTitle := index $titleParts 1 -}}
                {{- $imgTitle = strings.TrimSuffix "]" $imgTitle -}}
                {{- $imgDesc := "" -}}
                {{- if strings.Contains $imgTitle ";" -}}
                    {{- $titleDescParts := split $imgTitle ";" -}}
                    {{- $imgTitle = index $titleDescParts 0 -}}
                    {{- $imgDesc = index $titleDescParts 1 -}}
                {{- end -}}
                {{- $mdImages = $mdImages | append (dict "url" $imgUrl "title" $imgTitle "description" $imgDesc) -}}
            {{- end -}}
        {{- end -}}
    {{- else if strings.Contains . ";" -}}
        {{- $descr := split . ";" -}}
        {{- if strings.Contains (index $descr 0) ":" -}}
            {{- $imgVideo := split (index $descr 0) ":"  -}}
            {{- $titles = merge $titles (dict (index $imgVideo 0) (index $descr 1)) -}}
            {{- $videos = merge $videos (dict (index $imgVideo 0) (index $imgVideo 1)) -}}
        {{- else -}}
            {{- $titles = merge $titles (dict (index $descr 0) (index $descr 1)) -}}
        {{- end -}}
        {{- $descriptions = merge $descriptions (dict (index $descr 0) (index $descr 2)) -}}
    {{- end -}}
{{- end -}}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-10">
            <div class="row blog_posts cardPostStyle">
                <div class="col-md-12 col-lg-12">
                    <article>
                        <div class="post_text padding_bottom post_text_top_radius">
                            <div class="post_meta_top">
                                {{- partial "partials/shared/tags.html" . -}}
                                {{- partial "partials/shared/date.html" . -}}
                            </div>
                            <h4 class="post_title"><a href="{{ .RelPermalink | relURL }}">{{ .Title }}</a></h4>

                            <div class="masonry-gallery">
                                <div class="grid-sizer"></div>
                                <div class="title-gallery">
                                    {{- /* 优先展示 Markdown 中的图片 */ -}}
                                    {{- range $mdImages -}}
                                        <figure data-src="{{ .url }}"{{ if .description }} data-sub-html="<strong>{{ .title }}</strong>. {{ .description }}"{{ end }} class="grid-item">
                                            <div class="square-image-container">
                                                <img src="{{ .url }}" alt="{{ .title }}" class="square-image">
                                            </div>
                                        </figure>
                                    {{- end -}}

                                    {{- /* 然后展示目录中的图片 */ -}}
                                    {{- range $gallery.Resources.ByType "image" -}}
                                        {{- $title := index $titles .Name -}}
                                        {{- $description := index $descriptions .Name -}}
                                        {{- $originalImage := . -}}
                                        
                                        {{- /* 使用 Fill 处理图片为方形 */ -}}
                                        {{- $image := $originalImage.Fill "1200x1200 q90 Smart" -}}
                                        {{- $preview := $originalImage.Fill "800x800 q90 Smart" -}}
                                        {{- $thumb := $originalImage.Fill "240x240 q90 Smart" -}}
                                        
                                        {{- with .Exif -}}
                                            {{- if eq 6 .Tags.Orientation -}}
                                                {{- $image = $originalImage.Fill "1200x1200 q90 Smart r270" -}}
                                                {{- $preview = $originalImage.Fill "800x800 q90 Smart r270" -}}
                                                {{- $thumb = $originalImage.Fill "240x240 q90 Smart r270" -}}
                                            {{- else if eq 8 .Tags.Orientation -}}
                                                {{- $image = $originalImage.Fill "1200x1200 q90 Smart r90" -}}
                                                {{- $preview = $originalImage.Fill "800x800 q90 Smart r90" -}}
                                                {{- $thumb = $originalImage.Fill "240x240 q90 Smart r90" -}}
                                            {{- else if eq 3 .Tags.Orientation -}}
                                                {{- $image = $originalImage.Fill "1200x1200 q90 Smart r180" -}}
                                                {{- $preview = $originalImage.Fill "800x800 q90 Smart r180" -}}
                                                {{- $thumb = $originalImage.Fill "240x240 q90 Smart r180" -}}
                                            {{- end -}}
                                        {{- end -}}

                                        {{- if isset $videos .Name -}}
                                            {{- if strings.Contains (index $videos .Name) "youtu" -}}
                                            <figure data-src="{{- index $videos .Name -}}" data-poster="{{ $image.RelPermalink | relURL }}"{{ if $description }} data-sub-html="<strong>{{ $title }}</strong>. {{ $description }}"{{ end }} class="grid-item">
                                                <div class="square-image-container">
                                                    <img src="{{ $thumb.RelPermalink | relURL }}" alt="{{ $title }}" class="square-image">
                                                </div>
                                            </figure>
                                            {{- else -}}
                                            <figure data-video='{"source": [{"src":"{{- $gallery.RelPermalink -}}{{- index $videos .Name -}}", "type":"video/mp4"}], "attributes": {"preload": false, "controls": true}}' data-poster="{{ $image.RelPermalink | relURL }}"{{ if $description }} data-sub-html="<strong>{{ $title }}</strong>. {{ $description }}"{{ end }} class="grid-item">
                                                <div class="square-image-container">
                                                    <img src="{{ $thumb.RelPermalink | relURL }}" alt="{{ $title }}" class="square-image">
                                                </div>
                                            </figure>
                                            {{- end -}}
                                        {{- else -}}
                                            <figure data-src="{{ $image.RelPermalink | relURL }}" data-thumb="{{ $thumb.RelPermalink | relURL }}"{{ if $description }} data-sub-html="<strong>{{ $title }}</strong>. {{ $description }}"{{ end }} class="grid-item">
                                                <div class="square-image-container">
                                                    <img src="{{ $thumb.RelPermalink | relURL }}" alt="{{ $title }}" class="square-image">
                                                </div>
                                            </figure>
                                        {{- end -}}
                                    {{- end -}}
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                {{- partial "partials/remark42/comments.html" . -}}
            </div>
        </div>
    </div>
</div>
{{- end -}}
