{{- define "photomosaic" -}}
    {{- partial "partials/shared/photomosaic.html" . -}}
{{- end -}}

{{- define "content" -}}
    {{ $layout := .Page.Type | default "blog" }}
    {{- if eq $layout "gallery" -}}
        {{- partial "gallery/single.html" . -}}
    {{- else if eq $layout "story" -}}
        {{- partial "story/single.html" . -}}
    {{- else if eq $layout "note" -}}
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-10">
                    <div class="row blog_posts cardPostStyle">
                        <div class="col-md-12 col-lg-12">
                            <article>
                                <div class="post_text padding_bottom post_text_top_radius">
                                    <div class="post_meta_top">
                                        {{- partial "partials/shared/tags.html" . -}}
                                        {{- partial "partials/shared/date.html" . -}}
                                    </div>
                                    <h1 class="post_title">{{ .Title }}</h1>
                                    <div class="post_content">
                                        {{ .Content }}
                                    </div>
                                </div>
                            </article>
                        </div>
                        {{- partial "partials/remark42/comments.html" . -}}
                    </div>
                </div>
            </div>
        </div>
    {{- else -}}
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-10">
                    <div class="row blog_posts cardPostStyle">
                        <div class="col-md-12 col-lg-12">
                            <article>
                                {{ if .Params.image }}
                                <div class="featured_image">
                                    <img src="{{ .Params.image }}" alt="{{ .Title }}">
                                </div>
                                {{ end }}
                                <div class="post_text padding_bottom">
                                    <div class="post_meta_top">
                                        {{- partial "partials/shared/tags.html" . -}}
                                        {{- partial "partials/shared/date.html" . -}}
                                    </div>
                                    <h1 class="post_title">{{ .Title }}</h1>
                                    <div class="post_content">
                                        {{ .Content }}
                                    </div>
                                </div>
                            </article>
                        </div>
                        {{- partial "partials/remark42/comments.html" . -}}
                    </div>
                </div>
            </div>
        </div>
    {{- end -}}
{{- end -}}
