{{- define "photomosaic" -}}
    {{- partial "partials/shared/photomosaic.html" . -}}
{{- end -}}

{{- define "content" -}}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-10">
            <div class="row blog_posts cardPostStyle">
                {{- $allowedTypes := .Site.Params.fruhling.indexPageContentTypes | default (slice "blog" "gallery" "note" "story") -}}
                {{- $pages := .Paginator.Pages -}}
                {{- $filteredPages := where $pages ".Params.unlisted" "!=" "true" -}}
                {{- range $filteredPages -}}
                    {{- if or (not .Section) (not .Type) (in $allowedTypes .Type) -}}
                        {{- partialCached "list/full-width-post.html" . .RelPermalink -}}
                    {{- end -}}
                {{- end -}}
            </div>

            <nav class="pagination_holder">
                {{ template "_internal/pagination.html" . }}
            </nav>
        </div>
    </div>
</div>
{{- end -}}